<article class="post featured">
    <header class="major">
        <span class="date">

          Горящий тур

        </span>
        <h2>

          Болгария

        </h2>
        <p>

          Вылет 23/07 на 6 дней 5 ночей

        </p>
    </header>
    <a href="#" class="image main"><img src="

      assets/images/bga.jpg

      " alt="" /></a>
    <ul class="actions">
        <li><a href="{{ site.baseurl }}/special/" class="button big">

          Подробнее

        </a></li>
    </ul>
</article>
