<!DOCTYPE HTML>
<!--



   -->
<html>

    {% include head.html %}

	  <body class="is-loading">

        <!-- Wrapper -->
        <div id="wrapper" class="fade-in">

            {% include intro.html %}
            {% include header.html %}
            {% include menu.html %}

				    <!-- Featured Post -->
				    <article class="post featured">
						    <header class="major">
								    <span class="date">Специальное предложение</span>
								    <h2>Турция</h2>
								    <p>Вылет 27/06 на 8 дней 7 ночей</p>
						    </header>
						    <a href="#" class="image main"><img src="assets/images/pic01.jpg" alt="" /></a>
						    <ul class="actions">
								    <li><a href="{{ site.baseurl }}/special/" class="button big">Подробнее</a></li>
						    </ul>
				    </article>

            {% if site.posts != null %}
             <header class="major">
            <h1>Горящие туры</h1>
            </header>

				    <!-- Posts -->
				    <section class="posts">
	              {% for post in site.posts %}
						    <article>
								    <header>
										    <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
										<h2><a href="{{ post.url  | relative_url }}">{{ post.title }}</a></h2>
								</header>
								<a href="{{ post.url  | relative_url }}" class="image fit"><img src="{{ post.image }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
										<li><a href="{{ post.url  | relative_url }}" class="button">Подробнее</a></li>
								</ul>
						</article>
	          {% endfor %}
				</section>


        <!-- Footer -->
        <footer>
		       <!-- <div class="pagination">
				         <a href="#" class="previous">Prev</a>
				        <a href="#" class="page active">1</a>
				        <a href="#" class="page">2</a>
				        <a href="#" class="page">3</a>
				        <span class="extra">&hellip;</span>
				        <a href="#" class="page">8</a>
				        <a href="#" class="page">9</a>
				        <a href="#" class="page">10</a>
				        <a href="#" class="next">Next</a>
		        </div> -->

            <!-- Pagination links
            {% if paginator.total_pages > 1 %}
            <div class="pagination">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
              {% else %}
                <span>&laquo; Prev</span>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <em>{{ page }}</em>
                {% elsif page == 1 %}
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                {% else %}
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
              {% else %}
                <span>Next &raquo;</span>
              {% endif %}
            </div>
            {% endif %} -->

            <!-- This loops through the paginated posts -->
            <!-- {% for post in paginator.posts %}
                 <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                 <p class="author">
                 <span class="date">{{ post.date }}</span>
                 </p>
                 <div class="content">
                 {{ post.content }}
                 </div>
                 {% endfor %} -->

            <!-- Pagination links -->
            <!-- <div class="pagination">
                 {% if paginator.previous_page %}
                 <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                 {% else %}
                 <span class="previous">Previous</span>
                 {% endif %}
                 <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                 {% if paginator.next_page %}
                 <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                 {% else %}
                 <span class="next ">Next</span>
                 {% endif %}
                 </div>
               -->
        </footer>

{% endif %}

        {% include footer.html %}

    </body>

</html>
